
header, main {
    max-width: 1320px;
    margin: 0 auto;
    
}
body {
    font-family: Merriweather;
}
/* header section styles */
.header-banner {  
    color: #FFFFFF;
    text-align: center;
    position: relative;
}
.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.banner-title h3 {
    font-size: 32px;
    font-weight: 400;
}
.banner-title h1 {
    font-size: 72px;
    font-weight: 900;
    width: 630px;
    margin: 0 auto;
    
}